name: IDEA Plugin Release

on:
  workflow_dispatch:
    inputs:
      force_snapshot:
        description: 'Force release as snapshot (pre-release)'
        required: false
        default: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write

    env:
      CERTIFICATE_CHAIN: ${{ secrets.CERTIFICATE_CHAIN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
      PRIVATE_KEY_PASSWORD: ${{ secrets.PRIVATE_KEY_PASSWORD }}
      PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Build signed plugin
        run: ./gradlew signPlugin

      - name: Verify IntelliJ plugin
        # https://www.jetbrains.com/idea/download/other.html
        uses: ChrisCarini/intellij-platform-plugin-verifier-action@ChrisCarini/fix86
        with:
          plugin-location: tools/idea-plugin/build/distributions/*-signed.zip
          # We can't verify all revisions due to the disk size limitation on GHA.
          ide-versions: |
            ideaIC:2025.3
          failure-levels: |
            COMPATIBILITY_WARNINGS
            COMPATIBILITY_PROBLEMS
            DEPRECATED_API_USAGES
            OVERRIDE_ONLY_API_USAGES
            NON_EXTENDABLE_API_USAGES
            PLUGIN_STRUCTURE_WARNINGS
            MISSING_DEPENDENCIES
            INVALID_PLUGIN
            NOT_DYNAMIC
