name: Require Label

on:
  pull_request:
    types: [ opened, edited, labeled, unlabeled, synchronize ]

jobs:
  check-label:
    runs-on: ubuntu-latest
    steps:
      - name: Check for Label
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const requiredLabels = [
              'housekeeping',
              'feature-sdk',
              'bugfix-sdk',
              'dependencies',
              'feature-cli',
              'feature-gradle',
              'feature-plugin',
              'bugfix-cli',
              'bugfix-gradle',
              'bugfix-plugin',
              'changelog'
            ];

            const labels = context.payload.pull_request.labels.map(label => label.name);
            const hasRequiredLabel = labels.some(label => requiredLabels.includes(label));

            if (!hasRequiredLabel) {
              core.setFailed(
                `Pull request must have at least one of the following labels: ` +
                `${requiredLabels.join(', ')}`
              );
            }
